{{ if .Params.series }}

<div>
    <div class="flex flex-row">{{ T "series" }} <span class="font-bold ps-2">{{ index .Params.series 0 }}</span> </div>
    <ul class=" pt-5 md:text-base text-sm truncate">
        {{ range $num,$post := (index .Site.Taxonomies.series (index .Params.series 0 | urlize)).Pages.ByDate }}
            {{ if eq $post.Permalink $.Page.Permalink }}
                <li class="list-group-item active">
                    {{ T "Part" }} {{ add $num 1 }}: <span class="bg-yellow-200 rounded p-2 text-start font-bold">{{ $post.Params.title }}</span>
                </li>
            {{ else }}
                <li class="list-group-item">
                    <a href="{{$post.Permalink}}">
                        {{ T "Part" }} {{ add $num 1 }}: {{ $post.Params.title}}
                    </a>
                </li>
            {{end}}
        {{end}}
    </ul>
</div>
{{end}}